body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    text-align: center;
}

.container {
    margin-top: 20px;
    width: 100%;
}

input[type="text"] {
    padding: 10px;
    font-size: 18px;
    margin-top: 20px;
    width: 200px;
    text-align: center;
}

.output-word {
    padding: 10px;
    margin-top: 20px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.strikethrough {
    text-decoration: line-through;
}

.superscript {
    vertical-align: super;
    font-size: smaller;
}

.subscript {
    vertical-align: sub;
    font-size: smaller;
}

.big {
    font-size: larger;
}

.small {
    font-size: smaller;
}

p {
    font-size: 18px;
    margin: 10px 0;
}